@import '../../_variables';

.counter-container{
    position: relative;


    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0; bottom: 0;
        left: 0; right: 0;

        background: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5)); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5)); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5)); /* For Firefox 3.6 to 15 */
        background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5)); /* Standard syntax */
    }



    color: $white;

    h3 {
    	margin: 0;
    	padding: 5px;
    	font-weight: 200;
    }

    .counter-time {
    	text-align: center;
    	padding: 5px;
		font-weight: 200;

		line-height: 25px;

    	.counter-days {
		    font-size: 43px;
    	}

    	.counter-hours {
		    font-size: 36px;
    	}

    	.counter-minutes,
    	.counter-seconds {
		    font-size: 28px;
    	}
    }
}

.empty-counters {
    color: $white;
    text-align: center;
    margin-top: 30px;
}